<p id="notice"><%= notice %></p>

<h1>Recommended</h1>

<a href="/cart">
  <button class="btn btn-lg btn-warning pull-right">Checkout</button>
</a>

<div class="products-container">
  <div class="totals">
    <%= @products.length %> ITEMS
  </div>
  <div class="items-container">
    <% @products.each do |product| %>
      <div class="item">
        <%= image_tag(product.image_url, width: "244", height: '160') %>
        <div>
          <div class="heading"><%= product.name %></div>
          <div class="description"><%= product.description %></div>
          <div>Rs. <%= product.price %></div>
        </div>
        <% if !is_agent? %>
        <%= content_tag :button, class: "btn btn-lg btn-primary cart-button", data: {product: product} do %>
        Add to cart
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to('cart') do %>
  <button class="btn btn-lg btn-warning pull-right">Checkout</button>
<% end %>
