<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

    </div>
</body>
</html>

<!--
<%= debug(params) if Rails.env.development? %>
User.create(name: "manikanta k", email: "manikanta2@example.com", password: "1234abcd", password_confirmation: "1234abcd", role: "agent")
User.create(name: "chitti k", email: "chitti2@example.com", password: "1234abcdef", password_confirmation: "1234abcdef", role: "user")

User.create(name: "manikanta k", email: "test1@example.com", password: "test123", password_confirmation: "test123", role: "agent")
User.create(name: "Chitti k", email: "test2@example.com", password: "test123", password_confirmation: "test123", role: "user")
-->
